a {
  text-decoration: none;
  color: #252525;
}
.site-link {
  color: #252525;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.site-link:hover {
  color: #fff;
  text-shadow: 0.3px 0 0 #252525, 0 0.3px 0 #252525, -0.3px 0 0 #252525,
    0 -0.3px 0 #252525;
}
/* footer-------------- */
/* --------------------- */
footer {
  padding: 10vh 6.25vw 0;
  font-family: Montserrat;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  padding-bottom: 2vh;
}
.footer_nav li {
  font-size: 1.6vw;
}
.footer_message {
  text-align: right;
}
.footer_message img {
  width: 10vw;
}
.footer_message .thank {
  margin-bottom: 2vh;
}
