*,
*::before,
*::after {
  box-sizing: border-box;
}
.work-number a.work-number_06 {
  position: relative;
}
.work-number a.work-number_06::after {
  content: "";
  position: absolute;
  top: -1vw;
  left: 4vw;
  background-color: #252525;
  width: 4vw;
  height: 4vw;
}
.work-info h1 {
  font-family: Noto Sans JP;
}
/* --- */
.consept {
  margin-bottom: 160px;
}
.consept_list li {
  position: relative;
}
img.shh_poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  box-shadow: rgb(0, 0, 0, 0.2) 5px 5px 5px;
}
.shh_seal img {
  position: absolute;
  top: 0;
  right: 0;
  width: 18vw;
  padding: 0;
  transform: rotate(15deg);
}
/* --- */
.design_shh {
  width: 81.25vw;
  margin: 0 auto;
  font-family: Noto Sans JP;
  margin-bottom: 80px;
}
.design_shh ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.design_shh ul li {
  width: 25vw;
}
.design_shh ul li img {
  width: 100%;
}
.design_shh .design_body {
  padding-top: 16px;
}
.side-hell {
  margin-bottom: 160px;
  text-align: right;
}
