body {
  position: relative;
  font-family: Montserrat;
  font-weight: 400;
}

/* absolute,fixed------------- */
/* --------------------------- */
.go-home {
  transform: rotate(-90deg);
  position: fixed;
  top: 48.75vh;
  right: 94vw;
  font-size: 1.8vw; /* 24px */
  transition-property: right;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
  transition-duration: 0.3s;
}
.go-home:hover {
  right: 95vw;
}
.hinakohasebe-work {
  font-size: 1.8vw;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 5vh;
}
.work-number_flex {
  height: 100vh;
  position: fixed;
  left: 94vw;
  display: flex;
  justify-content: left;
  align-items: center;
}
.work-number {
  height: auto;
  text-align: center;
}
.work-number a {
  font-size: 1.8vw;
}
.work-number a:hover {
  font-weight: 700;
}
.work-number .line {
  text-align: center;
  width: 1px;
  height: 24px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #252525;
}
.bar-code_logo {
  width: 6.25vw;
  position: absolute;
  right: 96.25vw;
  top: 5vh;
}
/* top------------- */
/* --------------------------- */

.top {
  margin: 0 12.5vw 120px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-info {
  text-align: right;
}
.top figure {
  width: 43.75vw;
  margin-left: 5vw;
}
.top figure img {
  width: 100%;
  object-position: contain;
}
.work-info .number {
  font-size: 2.2vw;
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #fff;
  text-shadow: 1px 0 0 #252525, 0 1px 0 #252525, -1px 0 0 #252525,
    0 -1px 0 #252525;
}
.work-info h1 {
  font-size: 2.3vw;
  font-weight: 800;
  margin-bottom: 8px;
}
.work-info .period {
  margin-bottom: 32px;
}
.work-info li h3 {
  font-weight: 800;
  font-size: 1.6vw;
  margin-bottom: 4px;
}
.work-info li {
  margin-bottom: 32px;
}
.info-content {
  line-height: 22px;
}
.work-info_url {
  font-size: 14px;
}
