*,
*::before,
*::after {
  box-sizing: border-box;
}
.work-number a.work-number_06 {
  position: relative;
}
.work-number a.work-number_06::after {
  content: "";
  position: absolute;
  top: -1vw;
  left: 5vw;
  background-color: #252525;
  width: 4vw;
  height: 4vw;
}
.work-info h1 {
  font-family: Noto Sans JP;
}
.pikurusu-img {
  width: 18vw;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
}
.record-img {
  width: 16vw;
  position: absolute;
  top: 24px;
  right: 28vw;
  z-index: -10;
}
.summary-img .slide-show img {
  object-fit: contain;
}
.point_01 {
  z-index: 100;
}
.link-shh {
  font-size: 1vw;
  color: #252525;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.link-shh:hover {
  color: #fff;
  text-shadow: 0.3px 0 0 #252525, 0 0.3px 0 #252525, -0.3px 0 0 #252525,
    0 -0.3px 0 #252525;
}
