body {
  position: relative;
  font-family: Montserrat;
  font-weight: 400;
}

/* absolute,fixed------------- */
/* --------------------------- */
.go-home {
  transform: rotate(-90deg);
  position: fixed;
  top: 48.75vh;
  right: 94vw;
  font-size: 1.8vw; /* 24px */
  transition-property: right;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
  transition-duration: 0.2s;
}
.go-home:hover {
  right: 94.5vw;
}
.hinakohasebe-work {
  font-size: 1.8vw;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 5vh;
}
.work-number_flex {
  height: 100vh;
  position: fixed;
  left: 95vw;
  display: flex;
  justify-content: left;
  align-items: center;
}
.work-number {
  height: auto;
  text-align: center;
}
.work-number a {
  font-size: 1.8vw;
}
.work-number a:hover {
  font-weight: 700;
}
.work-number .line {
  text-align: center;
  width: 1px;
  height: 24px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #252525;
}
.bar-code_logo {
  width: 6.25vw;
  position: absolute;
  right: 96.25vw;
  top: 5vh;
}
/* top------------- */
/* --------------------------- */

.top {
  margin: 0 12.5vw 120px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.work-info {
  text-align: right;
}
.top figure {
  width: 43.75vw;
  margin-left: 5vw;
}
.top figure img {
  width: 100%;
  object-position: contain;
}
.work-info .number {
  font-size: 2.2vw;
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #fff;
  text-shadow: 1px 0 0 #252525, 0 1px 0 #252525, -1px 0 0 #252525,
    0 -1px 0 #252525;
}
.work-info h1 {
  font-size: 2.3vw;
  font-weight: 800;
  margin-bottom: 8px;
}
.work-info .period {
  margin-bottom: 32px;
}
.work-info li h3 {
  font-weight: 800;
  font-size: 1.6vw;
  margin-bottom: 4px;
}
.work-info li {
  margin-bottom: 32px;
}
.info-content {
  line-height: 22px;
}
.work-info_url {
  font-size: 14px;
}
/* ---consept,design--- */
.consept,
.design {
  width: 81.25vw;
  margin: 0 auto;
  font-family: Noto Sans JP;
}
.consept {
  margin-bottom: 80px;
}
.consept h2 {
  font-size: 2vw; /* 24px */
  font-weight: 700;
  line-height: 2.6vw;
  margin-bottom: 40px;
}
.consept_list {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
}
.consept_list li {
  width: 25vw;
  margin-bottom: 40px;
}
.consept_list img {
  width: 100%;
  padding: 2vw;
}
.consept_h3 {
  font-weight: 600;
  padding: 8px 24px;
  border: solid 2px #252525;
  display: inline-block;
  margin-bottom: 8px;
}
.consept_body {
  line-height: 20px;
}
.consept_consept {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}
/* --- */
.design {
  margin-bottom: 200px;
  position: relative;
}
.design_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.design_body {
  width: 25vw;
  padding-top: 30vh;
}
.design_body p {
  line-height: 18px;
}
.design_list img {
  width: 53.125vw;
}
.design_h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}
.design_li-odd .design_body {
  text-align: right;
}
.design_url {
  width: 25vw;
  font-family: Montserrat;
  position: absolute;
  right: 0;
}
.design_url h3 {
  font-weight: 700;
  margin-bottom: 8px;
}
.design_url a:hover {
  font-weight: 600;
}
/* --- */
.design_banner-namecard {
  width: 81.25vw;
  margin: 0 auto;
  font-family: Noto Sans JP;
}
.design_banner-namecard ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.design_banner-namecard li {
  width: 25vw;
}
.design_banner-namecard li img {
  width: 100%;
  margin-bottom: 120px;
}
.design_banner-namecard .design_body {
  margin-bottom: 120px;
}
.banner_top-img {
  padding: 10vw;
}
